.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d3d3d3;
  width: 724px;
  height: fit-content;
  min-height: 461px;
  //faire un border a l'interieur
  border: 2px solid #bababa;
  box-shadow: 0 0 10px 0 #000;
  user-select: none;

  .window__header {
    width: 100%;
    height: 25px;
    background: linear-gradient(90deg, #000684, #1084d0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 2px 0 10px;
  }

  .window__web {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      text-align: center;
    }
    input {
      border: none;
      background-color: #b3b3b3;
      padding: 20px 20px;
    }
    input:focus {
      outline: none;
    }

    .window__web__input {
      padding: 20px 20px;
    }
  }

  .window__content {
    width: 100%;
    height: fit-content;
    min-height: 461px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .window__content__left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;

      img {
        width: 100px;
        height: 100px;
      }
    }

    .window__content__center {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 15px;

      h3 {
        font-weight: 200;
        font-size: 0.8rem;
        margin: 0;
      }

      .window__content__center__group {
        //faire style ancien input
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        label {
          font-size: 0.85rem;
          font-weight: 600;
        }

        input {
          border: inset 2px #00000093;
        }
      }
    }

    .window__content__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      height: 100%;
      width: 150px;
      padding-top: 15px;
      gap: 7px;

      button {
        width: 100%;
        height: 25px;
        border-radius: 0 !important;
        background-color: #d3d3d3;
      }
    }
  }
}

// .xterm {
//   position: relative;
//   height: 100% !important;
//   width: 100% !important;
// }

// .xterm-screen {
//   height: 100% !important;
//   width: 100% !important;
// }

.closeButton {
  width: 20px;
  height: 20px;
  background: #c0c0c0;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 0;
  font-size: 10px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.terminalChat {
  width: 100%;
  min-height: 461px;
  background-color: #000;
  font-family: 'vt323', Times, serif;
  font-size: 1.25rem;
  overflow: auto;
  max-height: 80vh;

  .terminalChat__content {
    color: #fff;
    padding: 0 2px;
    overflow-y: auto;

    .message {
      margin: 4px 0;
      font-family: 1.25rem;
    }

    .message-receive {
      margin: 4px 0;
      font-family: 1.25rem;
    }

    .first {
      font-size: 1.25rem;
      margin-top: 4px;
      color: #00ff00;
      margin-bottom: 5px;
    }
  }

  .terminalChat__inputContainer {
    display: flex;
    gap: 8px;
    align-items: baseline;
  }

  .terminalChat__input {
    width: 100%;
    // height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'vt323', Times, serif;
    font-size: 1.25rem;
    padding: 0;

    &:focus {
      border: none;
    }
  }
}

.search_bar {
  display: flex;
  width: 100%;
  background-color: #a1a1a1;
  flex-direction: column;
  gap: 5px;
  padding: 5px 02px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 30px;
    width: 34px;
    border-radius: 0 !important;
    background-color: #d3d3d34d;
    padding: 0 10px;
    &::disabled {
      background-color: #d3d3d3;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }

  .search_bar__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  input[type='text'] {
    width: 100%;
    height: 28px;
    background-color: #a1a1a1;
    border: inset 2px #00000093;
    color: #000;
    outline: none;
    font-size: 0.95rem;

    &:focus {
      border: inset 2px #00000093;
    }
  }
}

.internet {
  height: 400px;
  width: 100%;
  background-color: #fff;
  overflow: auto;

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
  }
}

.admin-chat {
  max-height: 80vh;
  overflow: auto;
}

.note__area {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  flex: 1;

  &:focus {
    outline: none;
  }
}
