*,
*::after,
*::before {
  box-sizing: border-box;
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
}

label {
  font-size: 0.85rem;
  font-weight: 600;
}

input {
  border: inset 2px #00000093;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  transition: all 0.2s ease;
  border-radius: 0.125rem;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: transparent;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &:before {
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
  }

  &:not(:disabled):not(.disabled):active:before,
  &btn:not(:disabled):not(.disabled):active:focus:before {
    border-color: transparent;
    color: #000;
  }
}

.login {
  position: relative;
  background-color: #008080;
  width: 100%;
  height: 100vh;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .window-login {
    position: absolute;
    z-index: 1000;
    background-color: #d3d3d3;
    width: 530px;
    height: 150px;
    //faire un border a l'interieur
    border: 2px solid #bababa;
    box-shadow: 0 0 10px 0 #000;

    .window-login__header {
      width: 100%;
      height: 25px;
      //faire un gradient avec #000684 et #1084d0
      background: linear-gradient(90deg, #000684, #1084d0);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      padding: 0 10px;
    }

    .window-login__content {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3px;
      padding: 0 10px;

      .window-login__content__left {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .window-login__content__center {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 15px;

        h3 {
          font-weight: 200;
          font-size: 0.8rem;
          margin: 0;
        }

        .window-login__content__center__group {
          //faire style ancien input
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          margin-top: 10px;
        }
      }

      .window-login__content__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        height: 100%;
        width: 150px;
        padding-top: 15px;
        gap: 7px;

        button {
          width: 100%;
          height: 25px;
          border-radius: 0 !important;
          background-color: #d3d3d3;
        }
      }
    }
  }
}

.desktop {
  position: relative;
  background-color: #008080;
  width: 100%;
  height: 100vh;
  user-select: none;
}

.desktopApps {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 100%;
  color: #fff;
  font-weight: 200;
  padding-top: 10px;
  padding-left: 10px;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 5px;

    span {
      font-size: 0.95rem;
    }

    &:hover span {
      text-decoration: underline;
    }

    img {
      width: 55px;
      height: 55px;
    }
  }
}

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #b6bbb7;
  border: outset 2px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  padding: 2px;
  color: #fff;

  .windows-active {
    display: flex;
    flex: 1;
    gap: 2px;
  }

  .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #000;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 4px 10px;
    overflow: hidden;
    border-radius: 1px;
    position: relative;
    height: 38px;

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 2px solid #fcfcfc;
      border-left: 2px solid #fcfcfc;
      border-bottom: 2px solid #08080e;
      border-right: 2px solid #08080e;
    }
  }

  .time {
    padding: 4px 10px;
    height: 38px;
    text-align: center;
    border-top: 1px solid #08080e;
    border-left: 1px solid #08080e;
    border-right: 1px solid #fcfcfc;
    border-bottom: 1px solid #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
  }
}

.navbar {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.error-message {
  position: absolute;
  z-index: 1000;
  background-color: #d3d3d3;
  width: 240px;
  height: fit-content;
  padding-bottom: 10px;
  //faire un border a l'interieur
  border: 2px solid #bababa;
  box-shadow: 0 0 10px 0 #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  button {
    width: fit-content;
    height: 25px;
    border-radius: 0 !important;
    background-color: #d3d3d3;
    padding: 0 10px;
  }

  .window-login__header {
    width: 100%;
    height: 25px;
    //faire un gradient avec #000684 et #1084d0
    background: linear-gradient(90deg, #000684, #1084d0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 10px;
  }
}
